.container{
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    font-weight: 600;
    align-items: center;
    text-align: center;

}

.texto{
    width: 100%;
    height: 100%;
    padding-inline: 2vw;
    padding-top: 2vh;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
}
.barra{
    margin-top:2vh;
    border-radius: 10px;
    height: 6vh;
    background-color:#24A95F;
    border: #000000 1px;
    font-size: 5vh;
    justify-content: center;
}

