.body {
  background-color: #f0f0f0; /* color de fondo */
  height: 100vh; /* altura completa de la ventana */
  display: flex;
  justify-content: center; /* centrar horizontalmente */
  align-items: center;    /* centrar verticalmente */
  overflow-x: hidden;
  overflow-y: hidden;
  background-position-y: top;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrar horizontalmente */
  align-items: center;    /*  centrar verticalmente */
  
}

.titles {
  width: fit-content;

}

.buttonPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
