.body {
  display: flex;
  justify-content: center; /* centrar horizontalmente */
  align-items: center;    /* centrar verticalmente */
  overflow: hidden;

}


.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Contenido encima */

}

.titles {
  width: fit-content;

}



.buttonPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
