.logo_image {
  width: 15vh;
  height: 15vh;
}

@media screen and (min-height: 720px )  {
  
.logo_image {
  width: 20vh;
  height: 20vh;
}
}

.container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  margin-top: 1vh;
}