.button{
  background-color: var(--primary-green);
  color: var(--black);
  border: none; 
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 13vh;
  padding-left: 0%;
}

.buttonText{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 4vh;
  line-height: 100%;
  letter-spacing: 0.5px;  
  text-align: center; padding: 0%;
    padding-left: 0%;
}
.inactivo{
  background-color: #EDEDED;
    padding-left: 0%;
}
.button:hover{
  background-color: #38e47c;
  box-shadow: 0 2px 8px rgba(46, 204, 113, 0.15);
    padding-left: 0%;
}
.selected {
  background-color: #22b86c;
  color: #fff !important;
  border: 2px solid #1a7f37;
  box-shadow: 0 4px 16px rgba(46, 204, 113, 0.25);
    padding-left: 0%;
}

.container{
  justify-content: center;
    padding-left: 0%;
}