.container{
    flex: auto;
    flex-direction: column;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 5vw; /* Espacio entre botones */
    margin: 5vh 0;
}

.centrado{
    margin: 2vh;
    display: flex;
    justify-content: center;
}

.form{
    margin-bottom: 2vh;
}

.body{
    margin: 0;
}

