:root {
    /*Colors*/
    --primary-green: #2DD377;
    --secondary-green: #95E8BB;
    --bar: #D9D9D9;
    --btn_dormido: #EDEDED;
    --white: #FFFFFF;
    --black: #000000;
    --mantine-color-body: var(--white) !important;

    background-color: var(--white);
}