/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* tawild*/
@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
  font-family: 'Poppins', sans-serif;
  font-weight: 800; 
  font-size: 80px;
  line-height: 150%;
  letter-spacing: 0.5px;  
  text-align: center;   
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* SemiBold suele ser 600 */
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.5px;  
  text-align: center; 
}

.miniText{
  font-family: 'Poppins', sans-serif;
  font-weight: 80; /* SemiBold suele ser 600 */
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.5px;  
  text-align: center; 
  color: var(--black);
  overflow: visible;
}

body{
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  
  
  .title{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.5px;  
  }
  .subtitle{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.5px;  
  }
}