/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.title{
  font-family: 'Poppins', sans-serif;
  font-weight: 800; /* SemiBold suele ser 600 */
  font-size: 80px;
  line-height: 150%;
  letter-spacing: 0.5px;  
  text-align: center;   
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* SemiBold suele ser 600 */
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.5px;  
  text-align: center; 
}

.miniText{
  font-family: 'Poppins', sans-serif;
  font-weight: 80; /* SemiBold suele ser 600 */
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;  
  text-align: center; 
  color: var(--black);
}

body{
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  

}
